.DS_Store
syntax: glob
*.suo
*.user
*.DotSettings
*.orig
*/_ReSharper.*
*/obj/*
*/bin/*
built
node_modules
.vscode
.vs
obj
bin
Binaries/*
WebSite/*
Source/BuildScripts/prevHGVersion
Source/GRC.Common/GRC.config
Source/packages/*
Source/GRC.WebSPA/.idea/*
Source/TestResults/*
.idea/*
Source/GRC.WebSPA/logs/*
Source/Adapters/GRC.SoapWs.Adapter/Test/*
Source/GRC.sln.GhostDoc.xml
Source/GRC.WebSPA/App_Data/luceneForumIndex/*
*/Bin/*
Source/ExternalServices/GRC.External.Services.Host/web.config.profile.backup
Source/Performance*
Source/Report*.vsp
Debug
/Source/ExternalServices/GRC.External.Services.Host/bin
/Source/GRC.WebSPA/bin
Runtime Release
Runtime Debug

Source/GRC.WebSPA/Frontend/coverage
Source/GRC.WebSPA/Frontend/coverageJs
Source/GRC.WebSPA/Frontend/karma-results
Source/GRC.WebSPA/Frontend/app/libs/**

Source/GRC.WebSPA/Frontend/content/themes/base/jquery.css
Source/GRC.WebSPA/Frontend/content/bundleCss.css
Source/GRC.WebSPA/Frontend/.idea/*

Source/.nuget/NuGet.targets
Source/.nuget/NuGet.exe
Source/.nuget/NuGet.Config

Source/GRC.DataAccess/Dto/DtoTemplate.txt
Source/GRC.WebSPA/GRC.config
Source/GRC.WebSPA/logs/
Source/GRC.WebSPA/out/
Source/GRC.Upgrade.Common/out/
Source/GRC.Upgrade.Console/out/
Source/out/
Source/GRC.WebSPA/Configs/GRC.config
Source/GRC.WebSPA/Configs/appsettings.json
Source/upgrade/
Source/.idea/
Source/GRC.WebSPA/Configs/*.xml
Source/GRC.Test/Configs/
Source/GRC.WebSPA/log.txt
*.dll
*.deps.json
*.dll.config
*.pdb
*.js.map
*.patch
/Source/Binaries/*
/Source/Eplat4m-win/
/Source/Eplat4m-linux/
/Source/GRC.Upgrade.Console/Properties/launchSettings.json
/Source/GRC.WebSPA/Scripts/srcmaps
/Source/GRC.sln.startup.json
/Source/Eplat4m-win.zip
/Source/Eplat4m-linux.zip

.DS_Store
